#loading-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    display: block;
    background: white url(./images/wait30trans.gif) no-repeat center center;
    z-index: 999;
}
